USE [QL_BANHANG_TRUCTUYEN]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_TINHLOINHUAN]    Script Date: 11/24/2025 7:45:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- FUNCTION 2: TÍNH LỢI NHUẬN SẢN PHẨM
CREATE FUNCTION [dbo].[FN_TINHLOINHUAN](@MASP INT)
RETURNS DECIMAL(18,2)
AS
BEGIN
    RETURN (
        SELECT (SP.GIABAN - CTPN.DONGIANHAP)
        FROM SANPHAM SP
        JOIN CHITIETPHIEUNHAP CTPN ON SP.MASP = CTPN.MASP
        WHERE SP.MASP = @MASP
    )
END
GO
/****** Object:  UserDefinedFunction [dbo].[FN_TINHTONGTIENDONHANG]    Script Date: 11/24/2025 7:45:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------
-- 7. THÊM FUNCTION (CẬP NHẬT THEO TÊN CỘT MỚI)
----------------------------------------------------------

-- FUNCTION 1: TÍNH TỔNG TIỀN THANH TOÁN ĐƠN HÀNG
CREATE FUNCTION [dbo].[FN_TINHTONGTIENDONHANG](@MADH INT)
RETURNS DECIMAL(18,2)
AS
BEGIN
    RETURN (
        SELECT SUM(THANHTIEN)
        FROM CHITIETDONHANG
        WHERE MADH = @MADH
    )
END
GO
/****** Object:  Table [dbo].[CALAM]    Script Date: 11/24/2025 7:45:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALAM](
	[MACA] [int] IDENTITY(1,1) NOT NULL,
	[MACA_MAHOA]  AS ('CL'+right('000'+CONVERT([varchar](3),[MACA]),(3))) PERSISTED,
	[NGAYLAM] [date] NOT NULL,
	[GIOBATDAU] [time](7) NOT NULL,
	[GIOKETTHUC] [time](7) NOT NULL,
	[MANV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MACTDH] [int] IDENTITY(1,1) NOT NULL,
	[MACTDH_MAHOA]  AS ('CTDH'+right('000'+CONVERT([varchar](3),[MACTDH]),(3))) PERSISTED,
	[MADH] [int] NULL,
	[MASP] [int] NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [decimal](18, 2) NOT NULL,
	[THANHTIEN] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MACTPN] [int] IDENTITY(1,1) NOT NULL,
	[MACTPN_MAHOA]  AS ('CTPN'+right('000'+CONVERT([varchar](3),[MACTPN]),(3))) PERSISTED,
	[SOLUONGNHAP] [int] NOT NULL,
	[DONGIANHAP] [decimal](18, 2) NOT NULL,
	[MAPN] [int] NULL,
	[MASP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MADG] [int] IDENTITY(1,1) NOT NULL,
	[MADG_MAHOA]  AS ('DG'+right('000'+CONVERT([varchar](3),[MADG]),(3))) PERSISTED,
	[NGAYDG] [date] NOT NULL,
	[NOIDUNG] [nvarchar](500) NOT NULL,
	[SOSAO] [int] NOT NULL,
	[MAKH] [int] NULL,
	[MASP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADH] [int] IDENTITY(1,1) NOT NULL,
	[MADH_MAHOA]  AS ('DH'+right('000'+CONVERT([varchar](3),[MADH]),(3))) PERSISTED,
	[NGAYDAT] [date] NOT NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[TONGTIEN] [decimal](18, 2) NOT NULL,
	[MAKH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[MAKH_MAHOA]  AS ('KH'+right('000'+CONVERT([varchar](3),[MAKH]),(3))) PERSISTED,
	[HOTENKH] [nvarchar](50) NOT NULL,
	[SDT_KH] [char](11) NOT NULL,
	[DIACHI_KH] [nvarchar](100) NULL,
	[EMAIL_KH] [nvarchar](100) NOT NULL,
	[MATK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[MALOAI_MAHOA]  AS ('LSP'+right('000'+CONVERT([varchar](3),[MALOAI]),(3))) PERSISTED,
	[TENLOAI] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[MANCC_MAHOA]  AS ('NCC'+right('000'+CONVERT([varchar](3),[MANCC]),(3))) PERSISTED,
	[TENNCC] [nvarchar](100) NOT NULL,
	[DIACHI_NCC] [nvarchar](200) NOT NULL,
	[SDT_NCC] [char](11) NOT NULL,
	[EMAIL] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[MANV_MAHOA]  AS ('NV'+right('000'+CONVERT([varchar](3),[MANV]),(3))) PERSISTED,
	[HOTENNV] [nvarchar](50) NOT NULL,
	[CHUCVU] [nvarchar](50) NOT NULL,
	[SDT_NV] [char](11) NOT NULL,
	[EMAIL_NV] [nvarchar](100) NOT NULL,
	[LUONGCOBAN] [decimal](18, 2) NOT NULL,
	[MATK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [int] IDENTITY(1,1) NOT NULL,
	[MAPN_MAHOA]  AS ('PN'+right('000'+CONVERT([varchar](3),[MAPN]),(3))) PERSISTED,
	[NGAYNHAP] [date] NOT NULL,
	[TONGGIATRI] [decimal](18, 2) NOT NULL,
	[MANCC] [int] NULL,
	[MANV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[MASP_MAHOA]  AS ('SP'+right('000'+CONVERT([varchar](3),[MASP]),(3))) PERSISTED,
	[TENSP] [nvarchar](100) NOT NULL,
	[GIABAN] [decimal](18, 2) NOT NULL,
	[MAUSAC] [nvarchar](50) NOT NULL,
	[KICHTHUOC] [nvarchar](10) NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
	[HINHANH] [nvarchar](255) NOT NULL,
	[MOTA] [nvarchar](500) NULL,
	[DIEMTB] [decimal](18, 5) NULL,
	[MALOAI] [int] NULL,
	[MANCC] [int] NULL,
	[PHANLOAI] [nvarchar](20) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [int] IDENTITY(1,1) NOT NULL,
	[MATK_MAHOA]  AS ('TK'+right('000'+CONVERT([varchar](3),[MATK]),(3))) PERSISTED,
	[TENDANGNHAP] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](255) NOT NULL,
	[QUYEN] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHTOAN]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHTOAN](
	[MATT] [int] IDENTITY(1,1) NOT NULL,
	[MATT_MAHOA]  AS ('TT'+right('000'+CONVERT([varchar](3),[MATT]),(3))) PERSISTED,
	[HINHTHUCTT] [nvarchar](50) NOT NULL,
	[NGAYTT] [date] NOT NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
	[MADH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEUCAUHOTRO]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEUCAUHOTRO](
	[MAYC] [int] IDENTITY(1,1) NOT NULL,
	[MAYC_MAHOA]  AS ('YC'+right('000'+CONVERT([varchar](3),[MAYC]),(3))) PERSISTED,
	[NGAYGUI] [date] NULL,
	[NOIDUNG] [nvarchar](500) NOT NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
	[MAKH] [int] NULL,
	[PHANHOI] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAYC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CALAM] ON 

INSERT [dbo].[CALAM] ([MACA], [NGAYLAM], [GIOBATDAU], [GIOKETTHUC], [MANV]) VALUES (1, CAST(N'2024-02-01' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 1)
INSERT [dbo].[CALAM] ([MACA], [NGAYLAM], [GIOBATDAU], [GIOKETTHUC], [MANV]) VALUES (2, CAST(N'2024-02-02' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 2)
INSERT [dbo].[CALAM] ([MACA], [NGAYLAM], [GIOBATDAU], [GIOKETTHUC], [MANV]) VALUES (3, CAST(N'2024-02-03' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 3)
SET IDENTITY_INSERT [dbo].[CALAM] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETDONHANG] ON 

INSERT [dbo].[CHITIETDONHANG] ([MACTDH], [MADH], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (1, 1, 1, 2, CAST(250000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)))
INSERT [dbo].[CHITIETDONHANG] ([MACTDH], [MADH], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (2, 1, 2, 3, CAST(250000.00 AS Decimal(18, 2)), CAST(750000.00 AS Decimal(18, 2)))
INSERT [dbo].[CHITIETDONHANG] ([MACTDH], [MADH], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (3, 2, 3, 1, CAST(150000.00 AS Decimal(18, 2)), CAST(150000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CHITIETDONHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUNHAP] ON 

INSERT [dbo].[CHITIETPHIEUNHAP] ([MACTPN], [SOLUONGNHAP], [DONGIANHAP], [MAPN], [MASP]) VALUES (1, 50, CAST(60000.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MACTPN], [SOLUONGNHAP], [DONGIANHAP], [MAPN], [MASP]) VALUES (2, 30, CAST(120000.00 AS Decimal(18, 2)), 2, 2)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MACTPN], [SOLUONGNHAP], [DONGIANHAP], [MAPN], [MASP]) VALUES (3, 40, CAST(95000.00 AS Decimal(18, 2)), 3, 3)
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUNHAP] OFF
GO
SET IDENTITY_INSERT [dbo].[DANHGIA] ON 

INSERT [dbo].[DANHGIA] ([MADG], [NGAYDG], [NOIDUNG], [SOSAO], [MAKH], [MASP]) VALUES (1, CAST(N'2024-03-01' AS Date), N'Sản phẩm rất tốt', 5, 1, 1)
INSERT [dbo].[DANHGIA] ([MADG], [NGAYDG], [NOIDUNG], [SOSAO], [MAKH], [MASP]) VALUES (2, CAST(N'2024-03-02' AS Date), N'Hài lòng', 4, 2, 2)
INSERT [dbo].[DANHGIA] ([MADG], [NGAYDG], [NOIDUNG], [SOSAO], [MAKH], [MASP]) VALUES (3, CAST(N'2024-03-03' AS Date), N'Bình thường', 3, 3, 3)
SET IDENTITY_INSERT [dbo].[DANHGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[DONHANG] ON 

INSERT [dbo].[DONHANG] ([MADH], [NGAYDAT], [TRANGTHAI], [TONGTIEN], [MAKH]) VALUES (1, CAST(N'2024-02-10' AS Date), N'ĐÃ GIAO HÀNG', CAST(1250000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[DONHANG] ([MADH], [NGAYDAT], [TRANGTHAI], [TONGTIEN], [MAKH]) VALUES (2, CAST(N'2024-02-11' AS Date), N'ĐÃ XÁC NHẬN', CAST(2500000.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[DONHANG] ([MADH], [NGAYDAT], [TRANGTHAI], [TONGTIEN], [MAKH]) VALUES (3, CAST(N'2024-02-12' AS Date), N'ĐANG GIAO HÀNG', CAST(3500000.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[DONHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [SDT_KH], [DIACHI_KH], [EMAIL_KH], [MATK]) VALUES (1, N'Nguyễn Minh Khang', N'0123456789 ', N'Hà Nội', N'khang@gmail.com', 1)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [SDT_KH], [DIACHI_KH], [EMAIL_KH], [MATK]) VALUES (2, N'Lê Hồng Nhung', N'0901111113 ', N'HCM', N'nhung@gmail.com', 2)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [SDT_KH], [DIACHI_KH], [EMAIL_KH], [MATK]) VALUES (3, N'Phạm Văn Dũng', N'0901111114 ', N'Đà Nẵng', N'dung@gmail.com', 3)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON 

INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (13, N'Áo Croptop')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (16, N'Áo Hoodie')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (5, N'Áo Khoác')
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI_NCC], [SDT_NCC], [EMAIL]) VALUES (1, N'Công ty A', N'Hà Nội', N'0901111111 ', N'a@ncc.com')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI_NCC], [SDT_NCC], [EMAIL]) VALUES (2, N'Công ty B', N'Hồ Chí Minh', N'0902222222 ', N'b@ncc.com')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI_NCC], [SDT_NCC], [EMAIL]) VALUES (3, N'Công ty C', N'Đà Nẵng', N'0903333333 ', N'c@ncc.com')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [CHUCVU], [SDT_NV], [EMAIL_NV], [LUONGCOBAN], [MATK]) VALUES (1, N'Nguyễn Văn A', N'Bán hàng', N'0981111111 ', N'a@shop.com', CAST(8000000.00 AS Decimal(18, 2)), 11)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [CHUCVU], [SDT_NV], [EMAIL_NV], [LUONGCOBAN], [MATK]) VALUES (2, N'Lê Thị B', N'Bán hàng', N'0982222222 ', N'b@shop.com', CAST(8200000.00 AS Decimal(18, 2)), 12)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [CHUCVU], [SDT_NV], [EMAIL_NV], [LUONGCOBAN], [MATK]) VALUES (3, N'Trần Văn C', N'Kho hàng', N'0983333333 ', N'c@shop.com', CAST(8500000.00 AS Decimal(18, 2)), 13)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [TONGGIATRI], [MANCC], [MANV]) VALUES (1, CAST(N'2024-01-05' AS Date), CAST(3000000.00 AS Decimal(18, 2)), 1, 3)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [TONGGIATRI], [MANCC], [MANV]) VALUES (2, CAST(N'2024-01-10' AS Date), CAST(3600000.00 AS Decimal(18, 2)), 2, 4)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [TONGGIATRI], [MANCC], [MANV]) VALUES (3, CAST(N'2024-01-15' AS Date), CAST(3800000.00 AS Decimal(18, 2)), 3, 3)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIABAN], [MAUSAC], [KICHTHUOC], [SOLUONGTON], [HINHANH], [MOTA], [DIEMTB], [MALOAI], [MANCC], [PHANLOAI], [IsDeleted]) VALUES (1, N'Đầm Voan Bướm Dây Rút', CAST(450000.00 AS Decimal(18, 2)), N'Kem Nhạt', N'S,M,L,XL', 25, N'anh1.jpg', N'Đầm voan mini xếp ly, họa tiết bướm nhẹ nhàng, kiểu dáng nữ tính', CAST(5.00000 AS Decimal(18, 5)), 11, NULL, N'Nữ', 1)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIABAN], [MAUSAC], [KICHTHUOC], [SOLUONGTON], [HINHANH], [MOTA], [DIEMTB], [MALOAI], [MANCC], [PHANLOAI], [IsDeleted]) VALUES (2, N'Set Jean Xám Rách Gấu', CAST(300000.00 AS Decimal(18, 2)), N'Xám Đen', N'S,M,L,XL', 67, N'anh2.jpg', N'Set áo khoác croptop tay ngắn và chân váy jean xếp ly, viền rách cá tính', CAST(4.00000 AS Decimal(18, 5)), 20, 1, N'Nữ', 0)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIABAN], [MAUSAC], [KICHTHUOC], [SOLUONGTON], [HINHANH], [MOTA], [DIEMTB], [MALOAI], [MANCC], [PHANLOAI], [IsDeleted]) VALUES (3, N'Quần Jean Ống Rộng Cut-out Bướm', CAST(450000.00 AS Decimal(18, 2)), N'Xanh Nhạt', N'S,M,L,XL', 74, N'anh3.jpg', N'Quần jean baggy/ống rộng, rách tua rua và họa tiết bướm hồng lớn (Y2K style)', CAST(3.00000 AS Decimal(18, 5)), 3, 1, N'Nữ', 0)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MATK], [TENDANGNHAP], [MATKHAU], [QUYEN], [EMAIL]) VALUES (1, N'user1', N'123456', N'KhachHang', N'user1@example.com')
INSERT [dbo].[TAIKHOAN] ([MATK], [TENDANGNHAP], [MATKHAU], [QUYEN], [EMAIL]) VALUES (2, N'user2', N'123456', N'KhachHang', N'user2@example.com')
INSERT [dbo].[TAIKHOAN] ([MATK], [TENDANGNHAP], [MATKHAU], [QUYEN], [EMAIL]) VALUES (3, N'user3', N'123456', N'KhachHang', N'user3@example.com')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[THANHTOAN] ON 

INSERT [dbo].[THANHTOAN] ([MATT], [HINHTHUCTT], [NGAYTT], [TRANGTHAI], [MADH]) VALUES (1, N'Tiền mặt', CAST(N'2024-02-11' AS Date), N'THÀNH CÔNG', 1)
INSERT [dbo].[THANHTOAN] ([MATT], [HINHTHUCTT], [NGAYTT], [TRANGTHAI], [MADH]) VALUES (2, N'Chuyển khoản', CAST(N'2024-02-12' AS Date), N'THÀNH CÔNG', 2)
INSERT [dbo].[THANHTOAN] ([MATT], [HINHTHUCTT], [NGAYTT], [TRANGTHAI], [MADH]) VALUES (3, N'Momo', CAST(N'2024-02-13' AS Date), N'ĐÃ THANH TOÁN', 3)
SET IDENTITY_INSERT [dbo].[THANHTOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[YEUCAUHOTRO] ON 

INSERT [dbo].[YEUCAUHOTRO] ([MAYC], [NGAYGUI], [NOIDUNG], [TRANGTHAI], [MAKH], [PHANHOI]) VALUES (1, CAST(N'2024-02-01' AS Date), N'Lỗi đăng nhập', N'CHỜ XỬ LÝ', 1, NULL)
INSERT [dbo].[YEUCAUHOTRO] ([MAYC], [NGAYGUI], [NOIDUNG], [TRANGTHAI], [MAKH], [PHANHOI]) VALUES (2, CAST(N'2024-02-02' AS Date), N'Không nhận được hàng', N'ĐANG XỬ LÝ', 2, NULL)
INSERT [dbo].[YEUCAUHOTRO] ([MAYC], [NGAYGUI], [NOIDUNG], [TRANGTHAI], [MAKH], [PHANHOI]) VALUES (3, CAST(N'2024-02-03' AS Date), N'Đổi hàng', N'ĐÃ GIẢI QUYẾT', 3, NULL)
SET IDENTITY_INSERT [dbo].[YEUCAUHOTRO] OFF
GO
/****** Object:  Index [UQ_DANHGIA_KH_SP]    Script Date: 11/24/2025 7:45:43 AM ******/
ALTER TABLE [dbo].[DANHGIA] ADD  CONSTRAINT [UQ_DANHGIA_KH_SP] UNIQUE NONCLUSTERED 
(
	[MAKH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EMAIL_KH]    Script Date: 11/24/2025 7:45:43 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UQ_EMAIL_KH] UNIQUE NONCLUSTERED 
(
	[EMAIL_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SDT_KH]    Script Date: 11/24/2025 7:45:43 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UQ_SDT_KH] UNIQUE NONCLUSTERED 
(
	[SDT_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TENLOAI]    Script Date: 11/24/2025 7:45:43 AM ******/
ALTER TABLE [dbo].[LOAISANPHAM] ADD  CONSTRAINT [UQ_TENLOAI] UNIQUE NONCLUSTERED 
(
	[TENLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SDT_NCC]    Script Date: 11/24/2025 7:45:43 AM ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [UQ_SDT_NCC] UNIQUE NONCLUSTERED 
(
	[SDT_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TENNCC]    Script Date: 11/24/2025 7:45:43 AM ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [UQ_TENNCC] UNIQUE NONCLUSTERED 
(
	[TENNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EMAIL_NV]    Script Date: 11/24/2025 7:45:43 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UQ_EMAIL_NV] UNIQUE NONCLUSTERED 
(
	[EMAIL_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SDT_NV]    Script Date: 11/24/2025 7:45:43 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UQ_SDT_NV] UNIQUE NONCLUSTERED 
(
	[SDT_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TENSP]    Script Date: 11/24/2025 7:45:43 AM ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [UQ_TENSP] UNIQUE NONCLUSTERED 
(
	[TENSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TENDANGNHAP]    Script Date: 11/24/2025 7:45:43 AM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [UQ_TENDANGNHAP] UNIQUE NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT (N'CHỜ XÁC NHẬN') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CALAM]  WITH CHECK ADD  CONSTRAINT [FK_CALAM_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CALAM] CHECK CONSTRAINT [FK_CALAM_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DONHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CTDH_DONHANG]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CTDH_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_SANPHAM]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_KHACHHANG]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_SANPHAM]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHACUNGCAP]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_THANHTOAN_DONHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
GO
ALTER TABLE [dbo].[THANHTOAN] CHECK CONSTRAINT [FK_THANHTOAN_DONHANG]
GO
ALTER TABLE [dbo].[YEUCAUHOTRO]  WITH CHECK ADD  CONSTRAINT [FK_YEUCAUHOTRO_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[YEUCAUHOTRO] CHECK CONSTRAINT [FK_YEUCAUHOTRO_KHACHHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_HOTRO_CHUAXULI]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE 2: TÌM YÊU CẦU HỖ TRỢ CHƯA XỬ LÍ
CREATE PROC [dbo].[SP_HOTRO_CHUAXULI]
AS
BEGIN
    SELECT 
        YC.MAYC_MAHOA,
        KH.HOTENKH,
        YC.NGAYGUI,
        YC.NOIDUNG,
        YC.TRANGTHAI
    FROM YEUCAUHOTRO YC
    INNER JOIN KHACHHANG KH ON YC.MAKH = KH.MAKH
    WHERE YC.TRANGTHAI IN (N'CHỜ XỬ LÝ', N'ĐANG XỬ LÝ')
    ORDER BY YC.NGAYGUI DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HOTRO_UPDATE]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE 3: CẬP NHẬT TRẠNG THÁI YÊU CẦU HỖ TRỢ
CREATE PROC [dbo].[SP_HOTRO_UPDATE]
    @MAYC_MAHOA VARCHAR(10),
    @TRANGTHAIMOI NVARCHAR(50)
AS
BEGIN
    UPDATE YEUCAUHOTRO
    SET TRANGTHAI = @TRANGTHAIMOI
    WHERE MAYC_MAHOA = @MAYC_MAHOA
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOP10_BANCHAY]    Script Date: 11/24/2025 7:45:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------
-- 6. THÊM STORED PROCEDURE (CẬP NHẬT THEO TÊN CỘT MỚI)
----------------------------------------------------------
-- STORED PROCEDURE 1: TOP 10 SẢN PHẨM BÁN CHẠY NHẤT
CREATE PROC [dbo].[SP_TOP10_BANCHAY]
AS
BEGIN
    SELECT TOP 10 
        SP.TENSP,
        SUM(CTDH.SOLUONG) AS TONGSLBAN,
        SUM(CTDH.THANHTIEN) AS TONGDOANHTHU
    FROM SANPHAM SP
    INNER JOIN CHITIETDONHANG CTDH ON SP.MASP = CTDH.MASP
    GROUP BY SP.MASP, SP.TENSP
    ORDER BY TONGSLBAN DESC
END
GO
