@model List<Nhom04_CongNghePhanMem.Models.SANPHAM>

<div class="row g-4">
    @foreach (var sp in Model.Take(4))
    {
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card h-100 shadow-sm border-0">
             
                <img src="~/Content/Images/@sp.HINHANH" class="card-img-top" alt="@sp.TENSP" style="height:250px; object-fit:cover;" />
                <div class="card-body text-center">
                    <h5 class="card-title">@sp.TENSP</h5>
                    <p class="card-text text-danger fw-bold">@sp.GIABAN.ToString("C0")</p>
                    <a href="@Url.Action("ChiTiet", "SanPham", new { id = sp.MASP })"
                       class="btn btn-sm btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
    }
</div>
